#logo {
    width: 25%;
    margin: 2%;
    position: relative;
    animation-name: animationLogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.hover:hover {
    color: white;
    background-color: rgb(3, 133, 255);
}

@keyframes animationLogo {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(120deg);
    }
    66% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.divTitle {
    margin-top: 5%;
    width: 55%;
    border-radius: 10px;
    padding: auto;
}

.divTexto {
    padding: 2%;
    margin: 3%;
    width: 55%;
    border-radius: 10px;
}